.card1{
    margin:10rem 35rem 2rem 40rem;
    padding:1rem;
}
.card2{
    margin-right:35rem;
    margin-left:40rem
}
.signupbutton{
    margin-top:1rem;
    border-radius:2rem;
    width:stretch;
    background-color:maroon;
    border:none;
}

    .heading {
        text-align: center;
    }