.topnav{
    background-color:maroon;
}
.link{
    color:white;
    text-decoration:none;
    margin-left:1rem;
}
    .link:hover {
        background-color: white;
        color: crimson;
        border-radius:2rem;
        padding:0.2rem;
    }
.link:active{
    color:white;
}
.logout {
    color: white;
    text-decoration: none;
    margin-left: 83rem;
    font-weight:bold;
}
    .logout:hover {
        background-color: white;
        color: crimson;
        border-radius: 2rem;
        padding: 0.2rem;
        font-weight: bold;
    }
.welcome{
    font-weight:bolder;
    padding-left:1.5rem;
    color:white;
}