.card1 {
    margin: 10rem 35rem 2rem 40rem;
    padding: 1rem;
}

.card2 {
    margin-right: 35rem;
    margin-left: 40rem
}

.loginbutton {
    margin-top: 1rem;
    border-radius: 2rem;
    width: stretch;
    border:none;
    background-color:maroon;
}

.heading {
    text-align: center;
}
