.passwordcard{
    margin:5rem 30rem 0rem 30rem;
    text-align:center;
    background-color:maroon;
    border:none;
    color:white;
}
.emailinput{
    margin:1rem 3rem 1rem 3rem;
    border-radius:4px;
    border-color:white;
    width:stretch;
}
.heading{
    padding:1rem;
}
.passbutton {
    border-radius: 4px;
    border-color: white;
    width: 20rem;
    background-color: crimson;
    color: white;
    margin:1rem;
}

.passbutton:hover{
    background-color:darksalmon;
    color:white;
}
.passbutton:active{
    background-color:crimson;
}
.asklink{
    padding:1rem
}